

<% if @message.conversation.sender_id == current_user.id %>
  <p class="devise-heading"> Conversation with <%=@message.conversation.recipient.profile.first_name %> </p>
  <% @otherid = @message.conversation.recipient.profile %>
<% else %>
  <p class="devise-heading"> Conversation with <%=@message.conversation.sender.profile.first_name %> </p>
  <% @otherid = @message.conversation.sender.profile %>
<% end %>

<% if @over_ten %>
<div class="sp-div">
 <%= link_to 'Show Previous', '?m=all' %>
 </div>
<% end %>

<div id="message-scroll" class="message-container">
 <% @messages.each do |message| %>
  <% if message.body %>
   <% user = User.find(message.user_id) %>
   <div class="item">
    <div class="content">
     <div class="header">
       <% if user.profile.dev_corner.nil? %>
       <div class="space"></div><strong><%= user.profile.first_name %> <%= user.profile.last_name %></strong> <%= message.message_time %>
        <% else %>
        <div class="certified"></div> <strong><%= user.profile.first_name %> <%= user.profile.last_name %></strong> <%= message.message_time %>
        <%end%> </div>
      <div class="list">
       <div class="item">
         <%= message.body %>
      </div>
    </div>
   </div>
 </div>
 <% end %>
<% end %>
</div>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
 <div class="message-box">
   <%= f.text_field :body, class: "form-control", autofocus: true, autocomplete: :off, placeholder: "Write your message here..." %>
 </div>
 <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
 <div class="button-container-1">
   <%= f.submit "Send", class: "log-button" %>
   <% if current_user.profile.dev_corner.nil? %>
   <% else %>
    <%= link_to new_contract_path(:profile_id => @otherid) do %>
    <div class="edit-button">Begin Contract</div>
    <%end%>
   <% end %>
 </div>
<% end %>
