<div class="spacer"></div>

<p id="notice"><%= notice %></p>

<div class="profile-card">
  <div class="profile-first-last-name">
    <%= @profile.first_name %> <%= @profile.last_name %>
    <div class="dc-rating">
      <% if current_user.profile.dev_corner.nil? %>
      <% else %>
      Dev Rating:  <%= @profile.dev_corner.score %> Stars
      <% end %>
    </div>
  </div>
  <div class="profile-picture">
    <%= image_tag @profile.image, style: "width: 95%; height: auto; padding: 5px;" %>
  </div>
  <div class ="profile-info">
    <p><b>Email:</b> <%= @profile.user.email %></p>
    <p><b>Birthday:</b> <%= @profile.birthday %></p>
    <h4 class="profile-info-desc">About <%= @profile.first_name %>:</h4>
    <%= @profile.description %>
  </div>
</div>



<%= link_to edit_profile_path(@profile) do %>
<div class="edit-button">Edit</div>
<% end %>
