<p id="notice"><%= notice %></p>



<% @cost = @contract.cost %>
<%if @contract.user_agree == true && @contract.dev_agree == true %>
  <%if current_user.profile.id == @contract.profile_id%>
    <%= link_to  new_charge_path(:cost => @cost) do%>
    <div class="pay-button">Process Payment</div>
  <%end%>
  <%end%>
<%end%>

<div class="contract-container">
  <div class="contract-title"> Title: <%= @contract.name %> </div>
  <div class="contract-body">
    <div class="body-top">
      <p class="contract-info">Client:   <%= @contract.profile.first_name %></p>
      <p class="contract-info">Developer:   <%= @contract.dev_corner.profile.first_name %></p>
      <p class="contract-info">Start Date:   <%= @contract.start_date %></p>
      <p class="contract-info">End Date:   <%= @contract.end_date %></p>
      <p class="contract-desc">Description:    <%= @contract.description %></p>
    </div>
    <div class="body-bot">
      <p class="contract-info">Cost:  $ <%= @contract.cost %></p>
      <p class="contract-info">Signed by Client:    <%= @contract.user_agree %> </p>
      <p class="contract-info">Signed by Developer:    <%= @contract.dev_agree %> </p>
    </div>
  </div>
</div>



<% contract = @contract %>
<%if current_user.profile.id == @contract.profile_id%>
<div class="button-container-2">
<%= render 'contracts/profileform', profile: contract %>
</div>
<%end%>
