<div class="default-container">
 <div class="devise-heading">Mailbox</div>

 <div class="mailbox-list">
  <div class="mailbox-item">
   <% @conversations.each do |conversation| %>
   <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
    <% if conversation.sender_id == current_user.id %>
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
    <% end %>
    <%= link_to conversation_messages_path(conversation) do%>
    <div class="ea-convo"> <div class="convo-name"><%= recipient.profile.first_name%></div>
    <%if conversation.messages.last.nil?%>
      <i>(no messages)</i>
    <%else%>
      <%= conversation.messages.last.body %> <i class="greyed-text">  at <%=conversation.messages.last.updated_at%></i>
    <%end%></div>
    <%end%>
   <% end %>
  <% end %>
  </div>
 </div>
</div>


<div class="contracts-list">
  <% @num = 1 %>
  <%if current_user.profile.dev_corner.nil? %>
  <div class="default-container">
  <p class="devise-heading">Your Contracts</p>
    <% current_user.profile.contracts.each do |contracts| %>
    <div class="ea-contract">
      <div class="side-heading">
      <%= "#{@num}. Name: #{contracts.name}" %>
    </div>
    <p class="written-info"> <b>Developer: </b> <%= contracts.dev_corner.profile.first_name %> </p>
    <p class="written-info"><b>Description: </b><%= contracts.description %></p>
    <div class="button-container-2">
      <%= link_to contract_path(id: contracts.id) do%>
        <div class="contract-button">View</div>
      <%end%>
    </div>
      <% @num = @num + 1 %>
    <%end%>
  </div>
  <%else%>
  <div class="default-container">
    <p class="devise-heading">Your Developer Contracts</p>
    <% current_user.profile.dev_corner.contracts.each do |contracts| %>
    <div class="ea-contract">
      <div class="side-heading">
         <%= "#{@num}. Name: #{contracts.name}" %>
        </div>
       <p class="written-info"><b>Client: </b><%= contracts.profile.first_name %></p>
       <p class="written-info"><b>Description: </b><%= contracts.description %></p>
       <div class="button-container-2">
       <%= link_to edit_contract_path(id: contracts.id) do%>
        <div class="contract-button">Edit</div>
      <%end%>
       <%= link_to contract_path(id: contracts.id) do%>
         <div class="contract-button">View</div>
       <%end%>
       <%= link_to contract_path(id: contracts.id), :method => 'delete' do%>
         <div class="contract-button">Delete</div>
       <%end%>
     </div>
     </div>

      <% @num = @num + 1 %>
    <%end%>


  </div>
  <div class="default-container">
    <p class="devise-heading">Your Contracts with other Devs</p>
    <% current_user.profile.contracts.each do |contracts| %>
    <div class="ea-contract">
      <div class="side-heading">
      <%= "#{@num}. Name: #{contracts.name}" %>
    </div>
    <p class="written-info"> <b>Developer: </b> <%= contracts.dev_corner.profile.first_name %> </p>
    <p class="written-info"><b>Description: </b><%= contracts.description %></p>
    <div class="button-container-2">
      <%= link_to contract_path(id: contracts.id) do%>
        <div class="contract-button">View</div>
      <%end%>
    </div>
      <% @num = @num + 1 %>
    <%end%>
  </div>
  <%end%>

</div>
