
<nav>
<div class="nav">
  <div class="nav-contents-container">
    <a href="/">
    <div class="DS-logo"></div>
    </a>

      <!-- LOGIN/LOGOUT BUTTON -->
      <% if user_signed_in? %>

        <%= link_to(destroy_user_session_path, :method => :delete) do%>
        <div class="account-button">Logout</div>
        <% end %>

      <% else %>

        <%= link_to(new_user_session_path) do %>
        <div class="account-button">Login</div>
        <% end %>

      <% end %>
      <!-- REGISTER/EDIT REGISTRATION BUTTON -->
      <% if user_signed_in? %>

        <%= link_to(edit_user_registration_path) do %>
        <div class="account-button">Edit Acc.</div>
        <% end %>
      <% else %>

        <%= link_to(new_user_registration_path)  do %>
        <div class="account-button">Register</div>
        <% end %>
      <% end %>

      <!-- LINK TO INBOX -->
      <% if user_signed_in? %>
            <%= link_to conversations_path do %>
            <div class="account-button">Social</div>
          <% end %>
          <% else %>
          <% end %>

      <!-- LINK TO USERS DevCorner -->
      <% if user_signed_in? %>
        <% if  current_user.profile.dev_corner.nil?  %>
          <%= link_to new_dev_corner_path do %>
            <div class="account-become-button">Become a Dev</div>
          <% end %>
        <% else %>
          <%= link_to dev_corner_path(current_user.profile.dev_corner.id) do %>
          <div class="account-button">Your Shop</div>
        <% end %>
        <%end%>
        <% else %>
        <% end %>

        <!-- LINK TO BROWSE USERS -->
        <% if user_signed_in? %>
              <%= link_to dev_corners_path do %>
              <div class="account-button">Browse</div>
            <% end %>
            <% else %>
            <% end %>


        </div>
</div>
</nav>
