
<p id="notice"><%= notice %></p>

<%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Devs" %>
<%= submit_tag "Search" %>
<% end %>
 
<% if @profiles.present? %>
  <% if @profiles.dev_corner.nil? %>
  <p>There are no Developers containing the term(s) <%= params[:search] %>.</p>
  <% else %>
    <%= render @profiles %>
    <% end %>
  <% else %>
<% end %>

<h1 class="shops-heading">The Shops</h1>


    <% @dev_corners.each do |dev_corner| %>
    <div class="card-seperator"></div>

    <% if dev_corner.profile.dev_corner.nil? %>
    <% else %>
    <div class="dc-index-container">
    <div class="shop-bg"></div>
      <div class="profile-card">
        <div class="profile-first-last-name">
          <% if dev_corner.profile.dev_corner.nil? %>
          <% else %>
            <div class="certified"></div>
            <div class="certified-label">Certified Developer</div>
          <% end %>
          <%= dev_corner.profile.first_name %> <%= dev_corner.profile.last_name %>
          <div class="dc-rating">
            Dev Rating:  <%= dev_corner.profile.dev_corner.score %> Stars
          </div>
        </div>
        <div class="another-damn-container">
        <div class="profile-picture">
          <%= image_tag dev_corner.profile.image, style: "width: 95%; height: auto; padding: 5px;" %>
        </div>
        <div class ="profile-info">
          <p><b>Email:</b> <%= dev_corner.profile.user.email %></p>
          <p><b>Birthday:</b> <%= dev_corner.profile.birthday %></p>
          <h4 class="profile-info-desc">About <%= dev_corner.profile.first_name %>:</h4>
          <%= dev_corner.profile.description %>
        </div>
      </div>
    </div>

           <%= link_to  dev_corner do%>
           <div class="edit-button">View</div>
           <% end %>
         </div>
      <% end %>
    <% end %>


<br>
