<!DOCTYPE html>
<html>
  <head>
    <title>DevShop</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway|Neucha|Source+Code+Pro" rel="stylesheet">     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon-96x96.png' %>
  </head>

  <body>
    <%= render 'partials/nav' %>
    <div class="spacer"></div>
    <%= yield %>
  </body>
</html>
